<p>Te damos la bienvenida a MacoWins</p>
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Document</title>
</head>
<body>
    <!--Esto es un comentario-->
    <section class="about">
        <h1>Macowins</h1>
        <section class = "Welcome">
        <p>Te damos la bienvenida a MacoWins</p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>
        <img src="https://marketplace.canva.com/EADiVxM2Sz4/1/0/1600w/canva-tarjeta-crema-estampado-floral-bienvenida-w6Au2WnKxdw.png" alt="welcome"> 
    </section> 
    <section class = "about">
        <p>Lorem ipsum </p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
            <i><iframe width="560" height="315" src="https://www.youtube.com/embed/I0CJReSR3Rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></i>
        </ul>

    </section>
    <footer>macowins contact: contacto@macowins.com</footer>
    
</body>
</html>